html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(
    -225deg,
    #003668 0%,
    #189fd4 52%,
    #ffffff 100%
  );
  min-height: 100%;
  padding-bottom: 5rem;
}

h1 {
  text-align: center;
  color: white;
}

h2 {
    text-align: center;
}
